#dataBox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.3);
	visibility: hidden;
}
#uploadFile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.3);
	visibility: hidden;
}
#uploadFile>div{
	background:#fff;
	padding: 15px 0 0 50px;
	width: 35%;
	max-height: 600px;
	min-height: 300px;
}

#dataBox>div{
	background:#fff;
	padding: 15px 0 0 50px;
	width: 35%;
	max-height: 600px;
	min-height: 300px;
	overflow-y: scroll;
}
#dataBox .data_head {
	text-align: center;
}
#dataBox .data_close {
	position: relative;
	top: -50px;
	left: 45%;
	cursor: pointer;
}
.record:content{
	content:"";
}